---

---


<nav class="fixed top-0 w-full z-50 bg-white">
  <ul class="flex flex-row justify-between items-center px-8 pt-4 pb-8">
    <div>
      <p class="uppercase">Belgrano Buenos Aires &#9679; +54 (11) 5236-0400</p>
    </div>
    <div class="flex gap-4 uppercase">
      <li><a href="#manifiesto">Manifiesto</a></li>
      <li><a href="#unidades">Unidades</a></li>
      <li><a href="#team">Equipo</a></li>
      <li><a href="#partners">Partners</a></li>
      <li><a href="#contact">Contacto</a></li>
    </div>
  </ul>
</nav>

<style>
  nav {
    font-family: 'ManropeMedium', sans-serif;
  }
</style>