---
---

<div class="md:w-[75%]">
       <div class="flex flex-col">
         <h3 class="text-4xl uppercase">Partners</h3>
         <p class="text-xl mt-4 md:text-4xl">
           Contamos con el respaldo de <span class="text-ivydisplay uppercase">prestigiosos estudios</span>
           de arquitectura y diseño, garantizando así la calidad y excelencia en todos
           nuestros proyectos.
         </p>
       </div>
      </div>