---
---

<div class="flex justify-center md:py-32">
  <p class="text-xl text-center md:w-[75%] md:text-4xl">
    Grupo Oslo transforma el <span class="text-ivydisplay uppercase">Real Estate</span> a través de sus 
    unidades de negocio dedicadas al desarrollo y la gestión de <span class="text-ivydisplay uppercase">propiedades y emprendimientos.</span> 
  </p>
</div>