---
---

<div class="flex justify-center  md:py-32 relative">
  <p class="text-xl text-center md:w-[75%] md:text-4xl">
    Grupo Oslo transforma el <span class="text-ivydisplay uppercase">Real Estate</span> a través de sus 
    unidades de negocio dedicadas al desarrollo y la gestión de <span class="text-ivydisplay uppercase">propiedades y emprendimientos.</span> 
  </p>
	<!-- Imagen de fondo web -->
  <div class="hidden lg:block w-full h-[400px] p-4 md:h-[700px] absolute top-[200px] md:top-[500px] animated-img">
    <!-- Imagen de fondo del footer -->
    <img src="images/SUM-Salon-Gourmet.webp" alt="" class="object-cover w-full h-full rounded-xl">
  </div>

	<!-- Imagen de fondo mobile -->
	<div class="block lg:hidden w-full h-[400px] p-4 md:h-[700px] absolute top-[200px] md:top-[500px]">
		<!-- Imagen de fondo del footer -->
		<img src="images/SUM-Salon-Gourmet.webp" alt="" class="object-cover w-full h-full rounded-xl">
	</div>
</div>

<style>
  @keyframes animatedImg {	
		0% {
			/* opacity: 1; */
			scale: 200% 
		}
		
		100% {
			/* opacity: 1; */
			scale: 90%;
			transform-origin: top; 
			/* transform: translateY(-100%); */
		}
	}

	.animated-img {
		animation: animatedImg auto linear;	
		animation-timeline: scroll(block);
		/* animation-name: animated; */
	}	
</style>