---
---

<div class="md:flex md:justify-end md:items-center md:p-20">
  <div class="md:flex items-end md:w-[60%]">
    <img src="logos/Logos-03.png" alt="isotipo oslo" class="w-10 md:w-32">
    <div>
      <h2 class="uppercase bold text-2xl md:ms-8 md:pb-10 hidden md:block">NOSOTROS</h2>
      <p class="uppercase md:text-4xl text-2xl md:ms-8">Brindamos <span class="text-ivydisplay">soluciones integrales</span> al ciclo del <span class="text-ivydisplay">real state</span></p>
    </div>
  </div>
</div>



<style>

</style>