---
---

<div>
  <img src="logos/Logos-03.png" alt="isotipo oslo" class="w-10 pt-4">
  <p class="uppercase text-2xl">Brindamos <span class="text-ivydisplay sloganweigth">soluciones integrales</span> al ciclo del <span class="text-slogan">real state</span></p>
</div>

<style>
  .sloganweigth {    
    font-weight: 500;
    font-size: 24px;
  }
</style>