---
---

<div class="block lg:hidden">
  <div class="w-full mt-10 p-4 flex-col md:flex gap-4">
    <div class="w-full h-[250px] overflow-hidden relative rounded-lg mt-5">
      <img
        src="images/1201_Post.jpg"
        alt="Proyecto Terre la Imprenta"
        class="w-full h-full object-cover absolute top-0 left-0"
      />
    </div>
    <p class="uppercase text-xs mt-4">Proyecto Terre la Imprenta</p>
    <div class="w-full h-[250px] overflow-hidden relative rounded-lg mt-5">
      <img
        src="images/PR_Terre_Depto_Terraza_02_5k.jpg"
        alt="Terraza Terre la Imprenta"
        class="w-full h-full object-cover absolute top-0 left-0"
      />
    </div>
    <p class="uppercase text-xs mt-4">Terraza Terre la Imprenta</p>
  </div>      
</div >