---
---

<div class="hidden lg:block px-32 py-10">
  <div class="grid grid-cols-[2fr,1fr] gap-4">
    <div class="py-20">
      <div class="w-full h-[450px] overflow-hidden relative rounded-lg mt-5">
        <img
          src="images/1201_Post.jpg"
          alt="Proyecto Terre la Imprenta"
          class="w-full h-full object-cover absolute top-0 left-0"
        />
      </div>
      <p class="uppercase text-xs mt-4">Proyecto Terre la Imprenta</p>
    </div>
    <div></div>
  </div>
  <div class="grid grid-cols-[1fr,2fr] gap-4">
    <div></div>
    <div>
      <div class="w-full h-[450px] overflow-hidden relative rounded-lg mt-5">
        <img
          src="images/PR_Terre_Depto_Terraza_02_5k.jpg"
          alt="Terraza Terre la Imprenta"
          class="w-full h-full object-cover absolute top-0 left-0"
        />
      </div>
      <p class="uppercase text-xs mt-4">Terraza Terre la Imprenta</p>
    </div>
  </div>
</div>