---
---
<div class="block lg:hidden">
  <div class="mt-10">
    <p class="text-3xl">
      &#8594;Argentina <span class="text-ivydisplay">&</span> España
    </p>
    <p class="text-3xl">
      &#8594;Residencial, Corporativo, Comercial, Hotelería
    </p>
  </div>
  <div
    class="flex justify-between items-end border-b-2 p-4 mt-10 hover:border-b-black"
  >
    <p class="text-ivydisplay text-6xl">20+</p>
    <p class="text-md uppercase">años de trayectoria</p>
  </div>
  <div
    class="flex justify-between items-end border-b-2 p-4 hover:border-b-black"
  >
    <p class="text-ivydisplay text-6xl">10+</p>
    <p class="text-md uppercase">emprendimientos</p>
  </div>
  <div
    class="flex justify-between items-end border-b-2 p-4 hover:border-b-black"
  >
    <p class="text-ivydisplay text-6xl">50k +</p>
    <p class="text-md uppercase">metros construidos</p>
  </div>
</div>