---
---

<div class="hidden lg:block">
  <div class="mt-10">
    <p class="text-4xl">
      &#8594;Argentina <span class="text-ivydisplay">&</span> España
    </p>
    <p class="text-4xl">
      &#8594;Residencial, Corporativo, Comercial, Hotelería
    </p>
  </div>
  <div class="flex justify-between pt-10">
    <div class="flex flex-col justify-center items-center">
      <p class="text-ivydisplay text-20xl">20+</p>
      <p class="text-md uppercase">años de trayectoria</p>
    </div>
    <div class="flex flex-col justify-center items-center">
      <p class="text-ivydisplay text-20xl">10+</p>
      <p class="text-md uppercase">emprendimientos</p>
    </div>
    <div class="flex flex-col justify-center items-center">
      <p class="text-ivydisplay text-20xl">50k +</p>
      <p class="text-md uppercase">metros construidos</p>
    </div>
  </div>
</div>


<style>
    .text-20xl {
    font-size: 10rem;
  }
</style>
