---
import Card from "./Card.astro";

---

<Card
          title="Propiedades"
          cel="+54 11 1234 5678"
          contact="contacto@oslopropiedades.com"
          web="oslopropiedades.com.ar"
          href="/unit"
          logo="/logos/Oslo-01.png"
          alt="isotipo oslo"
          color="orange-oslo"
        />
        <div>
          <h3 class="text-ivydisplay text-xl my-4 block lg:hidden">Oslo Propiedades</h3>
          <p class="mb-10">
            Ofrece un servicio completo en la compra y venta de propiedades.
            Nuestro equipo est치 dedicado a encontrar el hogar o la inversi칩n
            perfecta para cada cliente, brindando asesoramiento personalizado y
            soluciones a medida.            
          </p>
        </div>
        <Card
          title="Desarrollos"
          cel="+54 11 1234 5678"
          contact="contacto@pbgdesarrollos.com"
          web="pbgdesarrollos.com.ar"
          href="/unit"
          logo="/logos/PBG-01.png"
          alt="isotipo oslo"
          color="grey-oslo"
        />
        <div>
          <h3 class="text-ivydisplay text-xl my-4">PBG Desarrollos</h3>
          <p class="mb-10">
            Se especializa en crear proyectos innovadores que redefinen el
            est치ndar de calidad. Nuestro enfoque integral asegura resultados
            excepcionales desde la planificaci칩n hasta la entrega.
          </p>
        </div>