---
import BurgerMenu from '../components/BurgerMenu';
import Navbar from '../components/Navbar.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />   
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative min-h-screen z-0 overflow-x-hidden">
		<!-- Contenedor principal del contenido -->
		<div class="z-40 relative bg-white mb-[1500px]">
			<!-- Navbar visible solo en pantallas grandes -->
			<div class="hidden lg:block z-50">
				<Navbar />
			</div>
	
			<!-- Logo animado -->
			<div class="hidden lg:block z-50 pt-8 fixed animated-logo" id="logo">
				<img 
					src="logos/Logos-02.png"
					alt="Oslo logo"
					class="p-10 sm:p-20"
				/>
			</div>
	
			<!-- BurgerMenu visible solo en pantallas pequeñas -->
			<div class="block lg:hidden fixed top-0 right-0 w-full z-50">
				<BurgerMenu client:load />
			</div>
	
			<!-- Contenido del slot -->
			<slot />
		</div>
	
		<!-- Footer fijo en el fondo con z-index más bajo -->
		<section id="footer" class="fixed inset-0 z-0 pointer-events-none">
			<footer class="absolute bottom-0 left-0 w-full bg-greyoslodark p-4 py-24 z-0">			
					<!-- Contenido del footer para pantallas pequeñas -->
					<div class="block lg:hidden text-center text-white">
												
						<div class="flex justify-center my-32">
							<img src="logos/Logos-03.png" alt="" class="logo-invert w-32">
							<p class="text-white text-3xl p-2">LET´S WORK TOGETHER</p>
						</div>			
							<div class="flex mb-20">
								<div id="contacto" class="text-white text-xs pe-6">
									<ul class="flex flex-col items-start">
										<li><p>GRUPO OSLO</p></li>
										<li><p>+54 (11) 5236-0400</p></li>
										<li><p>Av. del Libertador 5936 12°B</p></li>
									</ul>			
								</div>
								<div id="links" class="text-white pe-6 text-xs">
									<ul class="flex flex-col items-start">
										<li><a href="#">HOME</a></li>
										<li><a href="#">MANIFIESTO</a></li>
										<li><a href="#">UNIDADES</a></li>
										<li><a href="#">EQUIPO</a></li>
										<li><a href="#">PARTNERS</a></li>
									</ul>		
								</div>
								<div id="social" class="text-white">
									<a href="#">LINKEDIN</a>
								</div>
						</div>
					</div>
					
					<!-- Contenido del footer para pantallas grandes -->
					<div class="hidden lg:block py-28">
							<div class="grid grid-cols-1 md:grid-cols-[3fr,1fr,1fr,1fr] gap-10 my-20 px-20 text-white">
									<div class="flex justify-center">
											<img src="logos/Logos-03.png" alt="" class="logo-invert w-44 me-4">
											<p class="text-2xl md:text-5xl">LET'S WORK TOGETHER</p>
									</div>
									<div>
											<p>GRUPO OSLO</p>
											<p>+54 (11) 5236-0400</p>
											<p>Av. del Libertador 5936 12°B</p>
									</div>
									<div>
											<ul>
													<li><a href="#">HOME</a></li>
													<li><a href="#">MANIFIESTO</a></li>
													<li><a href="#">UNIDADES</a></li>
													<li><a href="#">EQUIPO</a></li>
													<li><a href="#">PARTNERS</a></li>
											</ul>
									</div>
									<div>
											<a href="#">LINKEDIN</a>
									</div>
							</div>
					</div>
					<div id="logo-footer" class="md:px-32">
							<img src="logos/Logos-02.png" alt="" class="logo-invert">
					</div>
			</footer>
	</section>
	
	<!-- Script para manejar la animación basada en el scroll -->
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const logo = document.getElementById('logo');
			
			// Escucha el evento de scroll
			window.addEventListener('scroll', function() {
				// Calcula la cantidad de scroll en porcentaje (0 a 1)
				const scrollY = window.scrollY;
				const maxScale = 1;
				const minScale = 0.1;

				// Calcula el nuevo tamaño del logo basado en el scroll
				let scale = maxScale - (scrollY / 1000); // Ajusta el divisor para controlar la velocidad del escalado

				// Limita el tamaño del logo para que no sea menor que minScale
				if (scale < minScale) scale = minScale;

				// Aplica el nuevo tamaño al logo
				if (logo) {
					logo.style.transform = `scale(${scale})`;
					logo.style.transformOrigin = 'top'; // Asegúrate de que el origen de transformación sea "top"
				}
			});
		});
	</script>

	</body>
</html>

<style>
	@font-face {
		font-family: 'ManropeBold';
		src: url('/fonts/Manrope-Bold.woff2') format('woff2'),
				url('/fonts/Manrope-Bold.woff') format('woff'),
				url('/fonts/Manrope-Bold.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'ManropeMedium';
		src: url('/fonts/Manrope-Medium.woff2') format('woff2'),
				url('/fonts/Manrope-Medium.woff') format('woff'),
				url('/fonts/Manrope-Medium.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'ManropeItalic';
		src: url('/fonts/Manrope-Medium.woff2') format('woff2'),
				url('/fonts/Manrope-Medium.woff') format('woff'),
				url('/fonts/Manrope-Medium.ttf') format('truetype');
		font-weight: normal;
		font-style: italic;
	}
	@font-face {
		font-family: 'IvyPrestoTextSemiBold';
		src: url('/fonts/IvyPrestoText-SemiBold.woff2') format('woff2'),
				url('/fonts/IvyPrestoText-SemiBold.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'IvyPrestoTextLight';
		src: url('/fonts/IvyPrestoDisplay-Light.woff2') format('woff2'),
				url('/fonts/IvyPrestoDisplay-Light.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'IvyPrestoTextLightItalic';
		src: url('/fonts/IvyPrestoDisplay-LightItalic.woff2') format('woff2'),
				url('/fonts/IvyPrestoDisplay-LightItalic.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
	html {
		font-family: 'ManropeMedium', sans-serif;
		font-weight: medium;
		scroll-behavior: smooth;
	}
</style>
<style is:global>

	body {
		overflow-x: hidden;
		z-index: 1000;
		background-color: white;
	}

	.text-ivydisplay {
		font-family: 'IvyPrestoTextLightItalic', sans-serif;
		font-weight: 500;
	}
	.text-ivydisplay-noitalic {
		font-family: 'IvyPrestoTextLight', sans-serif;
		font-weight: 500;
	}
	.text-manrope {
		font-family: 'ManropeMedium', sans-serif;
		font-weight: medium;
	}
	.text-maropebold {
		font-family: 'ManropeBold', sans-serif;
		font-weight: bold;
	}
	.logo-invert {
		filter: invert(1);
	}
</style>
