---
import Slogan from "../components/Slogan.astro";
import Manifest from "../components/Manifest.astro";
import Layout from "../layouts/Layout.astro";
import UnitWeb from "../components/UnitWeb.astro";
import Leadership from "../components/Leadership.astro";
import TerritoryWeb from "../components/TerritoryWeb.astro";
import TeamWeb from "../components/TeamWeb.astro";
import Partners from "../components/Partners.astro";
import Carousel from "../components/Carousel.astro";
import Prefooter from "../components/Prefooter.astro";

import UnitMobile from "../components/UnitMobile.astro";
import TerritoryMobile from "../components/TerritoryMobile.astro";
import TeamMobile from "../components/TeamMobile.astro";
---

<Layout title="Grupo OSLO">
  <main>
    <!-- seccion slogan -->
    <section class="px-4 pt-28 md:pt-2 md:h-[100vh]" id="slogan">
      <Slogan />
    </section>

    <!-- seccion imagen terre terraza -->
    <section class="p-4" id="imagen-terre-teraza">
   
      <div class="parallax-container relative h-[500px] md:h-[700px] mt-5 overflow-hidden rounded-lg">
        <div class="parallax-image absolute inset-0 bg-cover bg-center"></div>
      </div>

    </section>

    <!-- seccion manifiesto -->
    <section class="p-4" id="manifiesto">
      <Manifest/>
    </section>

    <!-- seccion unidades -->
    <section class="flex flex-wrap justify-center mt-10 p-4" id="unidades">
      <!-- solo se ve en pantallas grandes -->
      <div class="hidden lg:block py-10 md:px-20">
        <h2 class="text-2xl py-10">UNIDADES DE NEGOCIO</h2>
        <UnitWeb />
      </div>
      <!----------------------------------------->

      <div class="block lg:hidden">
        <UnitMobile />
      </div>
    </section>

    <!-- seccion imagen salon gourmet -->
    <section id="imagen-salon-gourmet">
      <!-- <div class="w-full h-[700px] overflow-hidden relative mt-5">
        <img
          src="images/SUM-Salon-Gourmet.jpg"
          alt="Salon Gourmet Grupo Oslo"
          class="w-full h-full object-cover absolute top-0 left-0"
        />
      </div> -->
      <div class="parallax-container relative h-[500px] md:h-[700px] mt-5 overflow-hidden">
        <div class="parallax-image-gourmet absolute inset-0 bg-cover bg-center"></div>
      </div>
    </section>

    <!-- seccion liderazgo -->
    <section class="p-4 bg-greyoslodark" id="liderazgo">
      <h3 class="uppercase text-xl my-20 text-white flex justify-center">
        Liderazgo
      </h3>
      <Leadership />
    </section>

    <!-- seccion territorios -->
    <section id="territorios" class="mb-28">
      <div class="w-full overflow-hidden relative p-4 lg:px-32 mt-20">
        <h2 class="text-4xl uppercase">
          Territorios <span class="text-ivydisplay">e</span> Industrias:
        </h2>
        <!-- Solo en pantallas mobiles -->
        <TerritoryMobile />

        <!-- Solo en pantallas grandes -->
        <TerritoryWeb />
      </div>
    </section>


    <!-- seccion imagenes y team -->
    <section id="imagenes_terre_la_imprenta" class="mb-20">
      <!-- solo en pantallas chicas -->
      <TeamMobile />
      <!-- solo en pantallas chicas -->
      <!-- solo en pantallas grandes -->
      <TeamWeb />
      <!-- solo en pantallas grandes -->
    </section>

    <!-- seccion imagen team -->
    <section id="imagen-team" class="mb-20">
      <img src="images/EQUIPO-GRUPO-OSLO-grupal.jpg" alt="Equipo Grupo Oslo" />      
    </section>

    <!-- seccion partners -->
    <section id="partners" class="my-8 md:my-20 p-4 md:px-32">
      <Partners />
      <Carousel />
    </section>

    <!-- seccion prefooter -->
    <section id="prefooter" class="bg-beigeoslo pb-72 pt-32">
      <Prefooter />
    </section>
  </main>
</Layout>

<style>
.parallax-container {
  position: relative; 
  overflow: hidden;
  /* height: 100%; */
}

.parallax-image {
  background-image: url('images/PR_Terre_Terraza_08_5k.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150%; 
  position: absolute;
  top: -300px;
  left: 0;
}

.parallax-image-gourmet {
  background-image: url('images/SUM-Salon-Gourmet.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150%; 
  position: absolute;
  top: -1200px;
  left: 0;
}




</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Seleccionar el contenedor de la imagen con verificación de tipo
    const parallaxImage = document.querySelector('.parallax-image') as HTMLElement;
    const parallaxImageGourmet = document.querySelector('.parallax-image-gourmet') as HTMLElement;
    const parallaxImageTeam = document.querySelector('.parallax-image-team') as HTMLElement;
   
    if (parallaxImage) {
      // Evento de scroll para aplicar el efecto parallax
      window.addEventListener('scroll', function () {
        // Calcular el valor de desplazamiento del scroll
        const scrollPosition = window.scrollY;

        // Aplicar la transformación en el eje Y para mover la imagen más lento que el contenido
        parallaxImage.style.transform = `translateY(${scrollPosition * 0.3}px)`;
      });
    } else {
      console.error('No se encontró el contenedor de la imagen parallax');
    }

    if (parallaxImageGourmet) {
      // Evento de scroll para aplicar el efecto parallax
      window.addEventListener('scroll', function () {
        // Calcular el valor de desplazamiento del scroll
        const scrollPosition = window.scrollY;
        parallaxImageGourmet.style.transform = `translateY(${scrollPosition * 0.3}px)`; 
      });
    } else {
      console.error('No se encontró el contenedor de la imagen parallax');
    } 
  

  });

  
</script>