---
import Slogan from '../components/Slogan.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Grupo OSLO">
	<main class="p-4">
		<Slogan />
		<div class="w-full h-[500px] overflow-hidden relative rounded-lg mt-5">
			<img src="images/PR_Terre_Terraza_08_5k.jpg" alt="Terre Terraza Grupo Oslo" class="w-full h-full object-cover absolute top-0 left-0">
		</div>
		<div>
			<div class="flex justify-center py-8 uppercase">
				<h2>Manifiesto</h2>
			</div>
			<p class="text-2xl text-center">Somos un <span class="text-ivydisplay uppercase">grupo empresario</span> dedicado de forma integral al <span class="text-ivydisplay">ciclo del</span> <span class="text-ivydisplay uppercase">real state.</span> Desde el scouting de terrenos, desarrollo de proyectos y administración de obras, hasta la comercialización de propiedades propias y de terceros.</p>
		</div>
	</main>
</Layout>

<style>
</style>
